$main-font-family: "Arial";

$azure-radiance: #0090f6;
$mine-shaft: #333333;
$silver-sand: #c3c7c8;
$white: #ffffff;
$black: #000000;
$danger-red: #dc3545;

$text-color: $mine-shaft;
$primary-color: $azure-radiance;
$secondary-color: $silver-sand;

body {
  font-family: $main-font-family;
  color: $text-color;
  min-height: 120vh;
  overflow-x: hidden;

  &.modal-open {
    overflow: hidden;
  }
}

section {
  width: 100%;
}

.main {
  padding: 2rem;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;

  &__button {
    background-color: $primary-color;
    color: $white;
    border: 3px solid $primary-color;
    width: 218px;
    padding: 17px 10px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      background-color: $white;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.modal {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &--inner {
    padding: 23px 19px 36px 59px;
    background-color: white;
    border-radius: 4px;
    max-width: 745px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 60vh;
    overflow-y: auto;
  }

  &__name {
    font-weight: 600;
  }

  &__price {
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__image {
    width: 100%;
    padding-right: 56px;

    &--container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .input-section {
    .label {
      margin-bottom: 9px;
    }
    margin-bottom: 1rem;
  }

  .size {
    &__container {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__item {
      padding: 12px 22px 13px 18px;
      display: block;
      border: 1px solid #474747;
      border-radius: 8px;
      margin-right: 1rem;
      cursor: pointer;
      color: #474747;
      transition: 0.3s all;

      &.active, &:hover {
        border-color: $primary-color;
        box-shadow: 0 0 0 2px $primary-color;
        color: $black;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &__input {
      display: none;
    }
  }

  &__close {
    margin-left: 42px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: -7.5px;
    right: -7.5px;

    &:hover {
      background-color: $danger-red;

      img {
        filter: invert(100%);
      }
    }

    &--icon {
      width: 17px;
    }
  }

  .color {
    margin-bottom: 18px;

    &__select {
      width: 100%;
      padding: 12px;
      font-weight: 500;
      color: $text-color;
      padding: 12px;
      border: 1px solid #474747;
      border-radius: 8px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      transition: 0.3s all;

      &:hover {
        border-color: $primary-color;
        box-shadow: 0 0 0 2px $primary-color;
      }
      &:focus {
        box-shadow: 0 0 0 2px $primary-color;
        border-color: $primary-color;
        outline: none;
        color: #222;
      }
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 12px;
  }

  &__quantity {
    display: flex;
    justify-content: space-between;
    border: 1px solid #474747;
    border-radius: 8px;
    transition: 0.3s all;

    &:hover {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px $primary-color;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    .number-input {
      -moz-appearance: textfield;
      border: none;
      border-radius: 8px;
      padding: 19px 0 15px;
      text-align: center;
      display: block;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .tweak {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s all;
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      border: 3px solid $white;

      .icon {
        width: 9px;
      }
      &.plus {
        padding: 0 10px 0 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
      &.minus {
        padding: 0 8px 0 10px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }
      &:hover {
        background-color: $primary-color;   
        .icon {
          filter: invert(100%);
        }
      }
    }
  }

  &__button {
    background-color: $primary-color;
    color: $white;
    border: 3px solid $primary-color;
    width: 100%;
    padding: 17px 10px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      background-color: $white;
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    img {
      width: 1.25rem;
      margin-right: 12px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    img {
      width: 1.5rem;
      margin-right: 1rem;
    }
    p {
      display: block;
    }
    .highlight {
      color: $primary-color;
      margin-top: 3px;
    }
  }
}
